.result-card-container {
  margin: 20px;
  border-radius: 4px;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.won {
  color: #18ed66;
}

.lost {
  color: #e31a1a;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.competing-team {
  margin: 10px;
  font-size: 20px;
}

.result {
  margin: 10px;
  font-size: 18px;
}

.match-status {
  margin: 10px;
  font-size: 18px;
}

.competing-team-img {
  width: 90%;
}

@media screen and (max-width: 767px) {
  .result-card-container {
    width: 80%;
    padding: 10px;
  }

  .competing-team {
    font-size: 18px;
  }

  .result,
  .match-status {
    font-size: 16px;
  }

  .competing-team-img {
    height: 60%;
  }
}

@media screen and (max-width: 576px) {
  .result-card-container {
    width: 100%;
    padding: 8px;
  }

  .competing-team {
    font-size: 16px;
  }

  .result,
  .match-status {
    font-size: 14px;
  }

  .competing-team-img {
    height: 50%;
  }
}
