/* Write your CSS here */
.team-matches-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(22, 1, 22);
  margin: 10px;
  background-color: crimson;
}
.team-banner-container {
  width: 90%;
}
.team-banner-img {
  width: 90%;
  margin: 20px;
}
.latest-match-details-container {
  width: 90%;
  align-self: center;
}
.team-matches-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}
